{% extends "base.html" %}

{% block title %}
Car List
{% endblock %}
<br>
{% block code %}
<div class="row">
    {% for car in cars %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if car.img %}
          <img src="{{car.img.url}}" alt="" enctype="multipart/form-data">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{car.make}}</h5>
            <p class="card-text">{{car.model|truncatechars:25}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'car-detail' car.id %}" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
</div>
	{% endfor %}
{% endblock code %}
